/**
*  Styles for image gallery carousel - using jCarousel
*  http://sorgalla.com/jcarousel/examples/responsive
*/

.image-gallery-row {
  max-width: 80rem;
}

.image-gallery-wrapper {

  .columns {

    padding: 0;
  }
}

.jcarousel-arrow-wrap {

  text-align: center;

  a {

    background-color: transparent;

    i {

      color: rgba(0, 0, 0, 0.1);
      font-size: 50px;
      //line-height: 126px; // set by JS
    }

    &:hover {

      i {

        color: rgba(0, 0, 0, 0.2);
      }
    }
  }

}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;

  @media(min-width: $screen-mobile-hrzl) {

    padding: 0 5px;
  }

  @media(min-width: $screen-lg) {

    img {

      height: 143px;
    }
  }
}






